<div class="containerr" id="education">
    <div class="title reveal">
        <h3>My <span class="blueviolet"> Education </span></h3>
        <p>There is no substitute of hardwork and there is no shortcut to success</p>
    </div>
    <div class="myeducation">
        <div class="graduation reveal">
            <div class="img">
                <img src="../../assets/bit.jpeg" alt="BIT logo">
            </div>
            <div class="college-details">
                <div class="college-name-stream">
                    <h3 class="college-name">Buddha Institute of Technology Gorakhpur</h3>
                    <p class="stream">B. Tech in Electronics and communications Engineering</p>
                    <p class="passing-year">2016 - 2020</p>
                </div>
            </div>
        </div>
        <div class="secondary reveal">
            <div class="img">
                <img src="../../assets/bit.jpeg" alt="KIC logo">
            </div>
            <div class="secondary-details">
                <div class="college-name-stream">
                    <h3 class="college-name">Kisan Intermediate College Karajahan Deoria</h3>
                    <p class="stream">High School and Senior Secondary in PCM</p>
                    <p class="passing-year">2012 - 2016</p>
                </div>
            </div>
        </div>
    </div>

</div>