<footer class="footer-container">
    <div class="thanksgiving reveal">
        <h5>Mukesh's Portfolio</h5>
        <p>Thanks for visiting my portfolio website. Connet me over social media.</p>
    </div>
    <div class="quick-links reveal">
        <h5>Quick Links</h5>
        <ul class="nav">
            <li class="nav-item"><a href="" class="nav-link"> > Home</a></li>
            <li class="nav-item"><a href="about" class="nav-link"> > About</a></li>
            <li class="nav-item"><a href="skill" class="nav-link"> > Skills</a></li>
            <li class="nav-item"><a href="education" class="nav-link"> > Education</a></li>
            <li class="nav-item"><a href="contact" class="nav-link"> > Contact</a></li>
        </ul>
    </div>
    <div class="contact-info reveal">
        <div class="address-email">
            <h5>Contact Info</h5>
            <p class="mobile-number"><img src="../../assets/social media/phone.png"> +91 7800897039</p>
            <p class="email"><img src="../../assets/social media/email.png"> mukeshprajapat7348@gmail.com</p>
            <p class="address"><img src="../../assets/social media/address.png"> Lucknow (Uttar Pradesh) 226010</p>
        </div>

        <div class="social-media">
            <a href="https://www.instagram.com/immukeshprajapati" target="_blank"><img
                    src="../../assets/social media/instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/mukesh-prajapati-16a919195" target="_blank"><img
                    src="../../assets/social media/linkedIn.png" alt="Linkedin" style="border: 5px solid #fff;"></a>
            <a href="https://twitter.com/MukeshP10524955" target="_blank"> <img
                    src="../../assets/social media/twitter.png" alt="Twitter"></a>

            <a href="https://github.com/MukeshPrajapati7348" target="_blank"> <img
                    src="../../assets/social media/GitHub-Mark.png" alt="github"></a>
        </div>
    </div>
</footer>