<div class="containerr" id="about">
    <div class="text-center about-header">
        <div class="about reveal">
            <img src="../../assets/social media/person3.jpeg" alt="" style="width: 25px; margin-bottom: 6px;"> About
            <span class="blueviolet">Me</span>
        </div>
    </div>
    <div class="my-info">
        <div class="info">
            <div class="name-stack">
                <p class="name reveal">I'm <span class="blueviolet"> Mukesh Prajapati</span></p>
                <p class="skill-stack reveal">Full Stack Developer</p>
            </div>
            <p class="info-text reveal">
                I am a full stack developer. I have completed my B.Tech in Electronics and Communications Engineering
                from
                Buddha Institute of Technology Gorakhpur. I have been working at TCS as Angular Front End Develper for
                more than 1 year. I am a passionate and disciplined web developer. I love to clone front end of
                websites.
            </p>
        </div>
        <div class="image reveal">
            <img src="../../assets/IMG20221104115222.jpg" alt="Admin image" />
        </div>
    </div>
</div>