<div class="home-container" id="home">
    <div class="main-content ">
        <div class="welcome-text text-start">
            <p class="salutation-text reveal">Hi There,</p>
            <p class="myname reveal">I'm <span style="color:rgb(14, 125, 204)">Mukesh Prajapati </span></p>
            <p class="skills">My Skills <span style="color:rgb(201, 6, 78)">{{text}}|</span></p>
            <a class="btn btn-primary about-btn reveal" (click)="onClickAbout()">About me</a>
        </div>
        <div class="myimage">
            <img src="../../assets/Images/IMG20220817210144.jpg" alt="">
        </div>
    </div>
</div>
<app-about></app-about>
<app-skill></app-skill>
<app-education></app-education>
<app-contact></app-contact>